%h1= "Create a New Task for #{@project.name}"

= form_tag project_tasks_path, method: :post, class: 'justify-content-center' do
  %div{class: 'form-group'}
    %p= text_field_tag :title, nil, class: 'form-control', required: true, title: 'Task Title', placeholder: 'Task Title'
    %p= text_area_tag :description, nil, class: 'form-control', required: true, title: 'Task Description', placeholder: 'Task Description'
  %div{class: 'form-check form-check-inline'}
    = hidden_field_tag :urgent, false
    = check_box_tag :urgent, true, class: 'form-check-input'
    = label :urgent, 'Urgent', class: 'form-check-label'
  %div{class: 'form-group'}
    = date_field_tag :deadline_at, title: 'Deadline Date'
    = label :deadline_at, 'Deadline'
  %p= button_tag 'Create Task', value: 'create_task', class: 'btn btn-primary'