%h1= "Update a #{@task.title} for #{@project.name}"

= form_tag project_task_path(@project.id, @task.id), method: :put, class: 'justify-content-center' do
  %div{class: 'form-group'}
    %p= text_field_tag :title, @task.title, class: 'form-control', required: true, title: 'Task Title', placeholder: 'Task Title'
    %p= text_area_tag :description, @task.description, class: 'form-control', required: true, title: 'Task Description', placeholder: 'Task Description'
  %div{class: 'form-check form-check-inline'}
    = check_box_tag :urgent, true, class: 'form-check-input'
    = label :urgent, 'Urgent', class: 'form-check-label'
  %div{class: 'form-group'}
    = date_field_tag :deadline_at, @task.deadline_at, title: 'Deadline Date'
    = label :deadline_at, 'Deadline'
  %p= button_tag 'Update Task', value: 'create_task', class: 'btn btn-primary'